.header-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 10vh;
  width: auto;
  background-color: black;
  display: grid;
}

.header-logo {
  width: 9vw;
  height: 8vh;
  cursor: pointer;
  margin-top: 0.7vh;
}
